* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white; }

.redes-sociales {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color: #d76800;
  border-bottom: 2px black solid; }
  .redes-sociales a {
    background-color: #d76800; }
    .redes-sociales a img {
      width: 40px;
      height: 40px;
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 10px;
      margin-top: 10px;
      background-color: #d76800; }

.logo {
  display: flex;
  justify-content: center;
  background-color: #ffe5a3; }
  .logo img {
    width: 220px;
    height: 165px;
    margin-bottom: 5px;
    margin-top: 5px; }

.linkeos nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px black solid;
  border-top: 2px black solid;
  background-color: #ffbfa0; }
  .linkeos nav ul li {
    list-style: none;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #ffbfa0; }
    .linkeos nav ul li a {
      text-decoration: none;
      color: black;
      margin-right: 30px;
      margin-left: 30px;
      font-size: 25px;
      font-weight: 800;
      background-color: #ffbfa0; }

.titulos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }
  .titulos h2 {
    font-size: 28px;
    color: #ff9e7e;
    font-weight: 1000;
    margin-top: 8px; }
  .titulos small {
    font-size: 20px;
    color: black;
    text-align: center;
    align-self: flex-end;
    position: relative;
    bottom: 30px;
    right: 500px; }

#titulo {
  font-size: 35px;
  color: black;
  font-weight: 5000; }

.amigurumis {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .amigurumis img {
    height: 450px;
    width: 350px;
    margin-left: 20px;
    margin-right: 20px; }

.mas {
  margin-top: 100px; }
  .mas div h2 {
    text-align: center;
    color: #7c3a26;
    margin-bottom: 30px; }
  .mas div img {
    height: 350px;
    width: 350px;
    margin-left: 20px;
    margin-right: 20px; }

.mostrar-mas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 20px; }
  .mostrar-mas small {
    font-size: 25px;
    color: #7f3d2a;
    font-weight: bolder;
    text-align: center;
    margin-left: 85px;
    margin-right: 85px; }

.redes-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .redes-section div {
    text-align: center;
    background-color: #ffbfa0;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 80px 35px 80px 35px; }
    .redes-section div img {
      height: 100px;
      background-color: #ffbfa0;
      width: 220px; }
    .redes-section div h3 {
      background-color: #ffbfa0;
      font-size: 25px;
      width: 280px;
      line-height: 30px; }

#general {
  background-color: #ffebbf;
  text-align: center;
  padding: 47px 5px 47px 5px; }
  #general h3 {
    line-height: 40px;
    color: #9d8c69;
    width: 340px;
    font-size: 30px; }
    #general h3 span {
      background-color: #ffebbf;
      color: black;
      font-size: 35px; }
  #general img {
    width: 40px;
    height: 40px;
    background-color: #ffebbf;
    position: relative;
    bottom: 40px; }

footer {
  margin-top: 20px;
  margin-bottom: 20px; }
  footer div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    footer div h3 {
      font-size: 20px;
      color: #e8873d; }
