* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffe5a5; }

.redes-sociales {
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px #e8833a solid; }
  .redes-sociales a img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px; }

.logo {
  display: flex;
  justify-content: center; }
  .logo img {
    width: 220px;
    height: 165px;
    margin-bottom: 5px;
    margin-top: 5px; }

.linkeos ul {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px #e8833a solid;
  border-top: 2px #e8833a solid; }
  .linkeos ul li {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px; }
    .linkeos ul li a {
      text-decoration: none;
      color: #e8873d;
      margin-right: 35px;
      margin-left: 35px;
      font-size: 25px;
      font-weight: 800; }

aside {
  background-color: aqua; }

.titulo {
  display: flex;
  justify-content: center;
  align-items: center; }
  .titulo h1 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #c7772c;
    font-weight: 1000; }
  .titulo h2 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #c7772c;
    font-weight: 1000; }

.amigurumis {
  display: flex;
  justify-content: center;
  align-items: center; }
  .amigurumis img {
    height: 450px;
    width: 350px;
    margin-left: 20px;
    margin-right: 20px; }

.mas {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px #e8833a solid; }
  .mas small {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    color: #e8833a;
    font-weight: bolder;
    text-align: center; }

.otras-secciones {
  display: flex;
  justify-content: center;
  align-items: center; }
  .otras-secciones div h2 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #c7772c;
    font-weight: 1000; }
  .otras-secciones div img {
    height: 450px;
    width: 450px;
    margin-left: 20px;
    margin-right: 20px; }

.redes-section {
  display: flex;
  justify-content: center;
  align-items: center; }
  .redes-section div {
    text-align: center;
    background-color: white;
    margin: 10px;
    padding: 50px 75px 50px 75px; }
    .redes-section div img {
      height: 120px;
      background-color: white;
      width: 240px;
      margin-bottom: 20px; }
    .redes-section div h3 {
      background-color: white;
      font-size: 30px;
      width: 310px;
      line-height: 45px; }
    .redes-section div button {
      background-color: white;
      margin-top: 40px;
      color: gray;
      font-size: medium;
      font-weight: 900;
      text-decoration: none;
      text-align: center;
      padding: 10px 15px 10px 15px; }

footer {
  margin-top: 20px;
  margin-bottom: 20px; }
  footer div {
    display: flex;
    justify-content: center; }
    footer div h3 {
      font-size: 20px;
      color: #e8873d; }
