footer {
    margin-top: 20px;
    margin-bottom: 20px;
    div {
        display: flex;
        justify-content: center;
        h3 {
            font-size: 20px;
            color: #e8873d;
        }
    }
}